<!DOCTYPE html>
<html lang="en">
<body>
    <table border="1">
        <tr>
            <td>Name</td>
            <td>Score By Number</td>
            <td>Score By Letter</td>
        </tr>
            <% data.Students.forEach(row => { %>
        <tr>
            <td><%= row.first_name + ' ' + row.last_name%></td>
            <td>
                <% if(row.SubjectStudent.score !== null) {%>
                    <%= row.SubjectStudent.score%>
                <% } else { %>
                    <a href="#">Give Score</a>
                <% } %>
            </td>
            <td>
                <%= row.scoreLetter %>
            </td>
        </tr>
           <% }) %>
    </table>
</body>
</html>
