<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Index</title>
  </head>
  <body>
    <center>
    <h1>WELCOME TO HOME PAGE</h1>
    <a href="/teacher"><button type="button" name="button">Teacher</button></a>
    <a href="/student"><button type="button" name="button">Student</button></a>
    <a href="/subject"><button type="button" name="button">Subject</button></a>
    <a href="/logout"><button type="button" name="button">Log Out</button></a>
  </center>
  </body>
</html>
