<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Subject</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Subject Name</th>
      </tr>
      <% data.forEach(d =>{ %>
        <tr>
          <td><%= d.subject_name %></td>
        </tr>
        <% }) %>
    </table>
  </body>
</html>
